/* Global Animations */
@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.animate-shimmer {
  animation: shimmer 1.4s ease infinite;
}
